<h2>{{name}}</h2>
<h4>{{year}}</h4>
<img src="{{translations.0.poster.og}}" alt="poster" width="400">
<h4>Overview: {{translations.0.overview}}</h4>
<h2>Rating IMDB: {{imdb_rating}}</h2>
<h2>Total votes: {{imdb_vote}}</h2>
