<div class="movie-page-container">
    <div class="movie-image-container">
        <img id="posterImage" src="{{movieFromDB.translations.0.poster.og}}" alt="poster">
    </div>

    {{#unless user.isAdmin}}
    <div id="voteButtons">

        <form action="/votes/{{movieFromDB._id}}/voteDislike" method="POST">
            <button type="submit" class="movies-btns"><i class="fa-solid fa-circle-xmark"
                    id="dislike-icon"></i></button>
        </form>
        <form action="/votes/{{movieFromDB._id}}/voteIgnore" method="POST">
            <button id="voteIgnore" class="movies-btns" type="submit"><i class="fa-solid fa-eye-slash"
                    id="ignore-icon"></i>
            </button>
        </form>
        <form action="/votes/{{movieFromDB._id}}/voteLike" method="POST">
            <button type="submit" class="movies-btns"><i class="fa-solid fa-heart-circle-check" id="like-icon"></i>
            </button>
        </form>
    </div>
    {{/unless}}
    <div class="details-container">
        <h4>Overview</h4>
        <p> {{movieFromDB.translations.0.overview}}</p>
        <h4>{{movieFromDB.people.0.job}}</h4>
        <p class="border"> {{movieFromDB.people.0.name}}</p>
        <h4>{{movieFromDB.people.1.department}}</h4>
        <p class="border"> {{movieFromDB.people.1.name}}, {{movieFromDB.people.2.name}}</p>
        <h4>Release</h4>
        <p>{{movieFromDB.premiere}}</p>
    </div>
    <div id="imdbSection">
        <a href="https://www.imdb.com/title/tt{{movieFromDB.imdb_id}}"><img
                src="https://1000marcas.net/wp-content/uploads/2021/05/Imdb-Logo-2012.png" alt="imdb logo"></a>
        <div>
            <p>Vote nยบ</p>
            <p id="imdbVotes">{{movieFromDB.imdb_vote}}</p>
        </div>
        <div>
            <p>Score</p>
            <p id="imdbScore">{{movieFromDB.imdb_rating}}</p>
        </div>
    </div>
    {{#if user.isAdmin}}
    <div id="footer-buttons">
        <form action="/movies/{{movieFromDB._id}}/delete" method="POST">
            <button class="movieButton" type="submit"> Delete</button>
        </form>
        <form action="/movies/{{movieFromDB._id}}/edit" method="GET">
            <button class="movieButton">Edit</button>
        </form>
    </div>
    {{/if}}
</div>