<div class="movie-page-container">
    <div class="movie-image-container">
        <img src="{{movieFromDB.translations.0.poster.og}}" alt="poster">
    </div>
    <div id="voteButtons">
        <form action="/votes/{{movieFromDB._id}}/voteLike" method="POST">
            <button type="submit"><img
                    src="https://www.pngkey.com/png/full/26-265943_like-it-success-png.png"/>
            </button>
        </form>
        <form action="/votes/{{movieFromDB._id}}/voteIgnore" method="POST">
            <button id="voteIgnore" type="submit"><img
                src="https://cdn-icons-png.flaticon.com/512/210/210112.png"/>
            </button>
        </form>
        <form action="/votes/{{movieFromDB._id}}/voteDislike" method="POST">
            <button type="submit"><img
                    src="https://cdn0.iconfinder.com/data/icons/social-reaction-and-emoji/519/dislike-512.png"/>
            </button>
        </form>
    </div>
    <div class="details-container">
        <h4>Overview</h4>
        <p> {{movieFromDB.translations.0.overview}}</p>
        <p> <strong>{{movieFromDB.year}}</strong></p>
    </div>
    {{#if user.isAdmin}}
    <div id="footer-buttons">
        <form action="/movies/{{movieFromDB._id}}/delete" method="POST">
            <button class="movieButton" type="submit"> Delete</button>
        </form>
        <form action="/movies/{{movieFromDB._id}}/edit" method="GET">
            <button class="movieButton">Edit</button>
        </form>
    </div> 
    {{/if}}
</div>